{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Live24Hours</title>
		 <link rel="stylesheet" href="{% static 'css/home.css'%}">


	</head>

	<body>
		<header>
			<a id="logo" href="{% url 'bangla/home'%}">
            <img src="{% static 'images/logo.jpg'%}" alt="logo">
	            
	            <span>Live24Hours</span>
        	</a>

        	
        	<form>
				<input type="text" name="text" class="search" placeholder="Search Here..." >
				<input type="submit" name="submit" class="submit" value="Search">
			</form>

			<div class="menu">
				<div class="navbar">
					<a href="{% url 'bangla/home'%}">Home</a>
					<a href="#">About Us</a>
					
					<div class="dropdown">
					  	<button class="dropbtn">NewsPapers <i class="fa fa-caret-down"></i>
		    			</button>
		    			<div class="dropdown-content">
						      <a href="#">BDnews24</a>
						      <a href="#">DailyStar</a>
						      <a href="#">DhakaTribune</a>
						      <a href="#">BBC Bangla</a>
						    </div>
					</div>    
					<div class="dropdown">
						<button class="dropbtn">Category <i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="{% url 'english/home'%}">English</a>
							<a href="{% url 'bangla/home'%}">Bangla</a>
						</div>
					</div>
						<a href="#home">National</a>
						<a href="#news">International</a>
					<div class="dropdown">
						<button class="dropbtn">Sports<i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="#">Cricket</a>
							<a href="#">Football</a>
							<a href="#">Tennis</a>
							<a href="#">Others</a>
							</div>
					</div>							
						<a href="#home">Politics</a>
						<a href="#news">Entertainmnet</a>
						<a href="#news">Technology</a>
		
				</div>
			</div>
		</header>

		<div class="container">
			<div class="content">
				{% block content%}

				<h1>Breaking News</h1>

				{% for p in post %}
			          <h2>
			          	
			          	<div class="tooltip">
			          			<a href="{{p.url}}" target="_blank">{{p.title}}</a> 
			          			<span class="tooltiptext">{{p.title}}</span>
			          	</div> 			          		
			          </h2>
			    {% endfor %}
			   {% endblock %}
		
			</div>


		</div>





		<footer>
            <img src="{% static 'images/logo.jpg'%}" alt="logo">

	        <!--<img src="img/avatar.jpeg" alt="Footer Logo">-->
	        <span>My Website<br>Copyright &copy; 2018-3010 </span>
    	</footer>

    </body>
</html>


<!--  
					<div class="dropdown">
						<button class="dropbtn">Category <i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="{% url 'english/home'%}">English</a>
							<a href="{% url 'bangla/home'%}">Bangla</a>
						</div>
					</div>
						<a href="{%url 'english/national'%}">National</a>
						<a href="{%url 'english/international'%}">International</a>
					
						<a href="{%url 'english/sports'%}">sports</a>
						<a href="{%url 'english/politics'%}">Politics</a>
						<a href="{%url 'english/entertainment'%}">Entertainment</a>
						<a href="{%url 'english/technology'%}">Technology</a
-->

<!--   
					<div class="dropdown">
						<button class="dropbtn">Category <i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="{% url 'english/home'%}">English</a>
							<a href="{% url 'bangla/home'%}">Bangla</a>
						</div>
					</div>
						<a href="{% url 'bangla/sports'%}">Sports</a>

						<a href="{% url 'bangla/national'%}">National</a>
						<a href="{% url 'bangla/international'%}">International</a>				
						<a href="{% url 'bangla/politics'%}">Politics</a>
						<a href="{%url 'bangla/entertainment'%}">Entertainment</a>
						<a href="{%url 'bangla/technology'%}">Technology</a>
						-->